.footer {
  background-color: black;
  padding: 16px;
  color: white;
}
body {
  padding: 20px;
  background-color: rgb(127, 255, 185);
  border: 2px solid black;
}
.Picked {
  color: blue;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: blue;
}
.newLink {
  text-decoration: double;
  color: palevioletred;
}
.hidden {
  display: none;
}
